* {
    box-sizing: border-box;
    border:solid 1px;
}

.wrapper {
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
    height:100vh;
    border: solid 3px green;
}

nav {
    display: grid;
    background-color: aquamarine;
    grid-row: span 2;
}

header {
    background-color: lightcoral;
    display: grid;
}
.search-and-account-controls {
    background-color: red;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.account-controls {
    display: flex;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: orange;
}


.projects {
    background-color: bisque;
}

.cards {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(30ch, 1fr));
}

.sidebar {
    background-color: lightpink;
}

menu {
    padding: 0;
}
menu ul {
    border: solid 1px;
    padding: 0;
    list-style: none;
    margin: 0;
}

main {
    border: solid 1px;
    display: grid;
    grid-template-rows: 10rem;
}
main > * {
    border: solid 1px;
}