* {
    box-sizing: border-box;
    border:solid 1px;
}

.wrapper {
    display:grid;
    grid-template-columns: 1fr 3fr;
}

nav {
    display: grid;
    grid-template-rows: 5rem;
}

menu {
    padding: 0;
}
menu ul {
    border: solid 1px;
    padding: 0;
    list-style: none;
    margin: 0;
}

main {
    border: solid 1px;
    display: grid;
    grid-template-rows: 10rem;
}
main > * {
    border: solid 1px;
}